body {
    font-family: "微软雅黑";
}

table tr th {
    text-align: center;
}

table tr td {
    text-align: center;
}

table.table-details tr td {
    text-align: left;
}

.table>tbody>tr>td {
    padding: 4px;
}

.table.table-details>tbody>tr>td {
    padding-left: 10px;
}

.table {
    margin-bottom: 10px;
}

.table>thead>tr {
    height: 42px; line-height: 42px;
}

.table>tbody>tr {
    height: 39px; line-height: 39px;
}

th.index {
    width: 60px;
}

.table-details th {
    text-align: right; margin-right: 10px;
}

.table-details td {
    text-align: left; margin-left: 10px;
}

.header {
    border-bottom: solid 2px #2f4050; height: 60px;
    background-image: url("../images/sys_titls.jpg");
    background-color: #fffde4;
    background-repeat: no-repeat;
}
.header .navbar-fixed-top, .header .navbar-static-top{
    background: none;
}

.roll-right.J_tabExit {
    background: #fff; height: 58px; line-height: 58px; width: 80px; outline: 0; display: block; float: right; text-align: center;
    font-size: 16px;
}

.page-tabs a {
    text-align: center;
}

.wrapper-content {
    padding: 10px;
}

.ibox {
    margin-bottom: 10px;
}

.ibox-table .ibox-title {
    padding-top: 0; padding-bottom: 0; height: 40px;
}

.ibox-table .ibox-title h5 {
    height: 30px; line-height: 30px; margin-top: 7px;
}

.ibox .ibox-title a.btn {
    float: right; margin-right: 25px; margin-top: 7px;
}

.ibox-content {
    padding: 10px;
}

.search-form {
    margin-top: 5px;
}

.search-form .form-group {
    margin-bottom: 10px;
}

.search-form .form-group .btn {
    margin-top: 3px;
}

.pagination-wrap label {
    float: right; height: 30px; line-height: 30px;
}

.pagination {
    margin: 0; float: right; margin-right: 15px;
}

.pagination ul {
    margin: 0 auto; overflow: hidden; zoom: 1; float: right;
}

.pagination ul li {
    min-width: 20px; float: left; display: inline-block; height: 30px; line-height: 30px; padding: 0 10px; border: 1px solid #e2e4ff;
    border-left: none; text-align: center;
}

.pagination ul li.disabled {
    color: #ccc;
}

.pagination ul li:first-child {
    border-left: 1px solid #e2e4ff;
}

.pagination ul li a {
    display: block; width: 100%;
}

.required-label span {
    color: #f00; font-weight: bold;
}

.flexible-btns-max {
    width: 270px;
}

.flexible-btns-min {
    width: 100px;
}

.flexible-btns-2 {
    width: 150px;
}

.flexible-btns-3 {
    width: 210px;
}

#pageSizeSelect {
    height: 26px; line-height: 26px;
}

#gotoPageNo {
    width: 50px; text-align: center; height: 26px; line-height: 26px;
}

#goto_button {
    width: 50px; padding: 0;
}

.form-horizontal .form-group .tooltip-text {
    padding-top: 7px; display: block; color: #bbb;
}

.group-queue-details {
    overflow: hidden; zoom: 1;
}

.group-queue-details .row {
    margin: 5px 0 5px 0;
}

.order-queue-details {
    width: 50px; height: 50px; line-height: 50px; float: left; text-align: center; background: #d1dade; padding: 2px; margin-right: 5px;
}

.order-queued {
    background: #1d84c6; color: #fff;
}

.order-current {
    background: #24c6c8; color: #fff;
}

/*布局修改*/
.navbar-default.navbar-static-side {
    /*background-color: #5e94c2;*/
    background-color: white;
}

.nav .nav-header {
    background-color: #005ba6;
    background-image: url("../images/logo.png");
    background-position: center center;
    height: 62px;
    line-height: 62px;
    padding-top: 0;
    padding-bottom: 0;
}

.mini-navbar .nav .nav-header {
   background-image: none;
}

.mini-navbar .navbar-default.navbar-static-side {
    background-color: #5e94c2;
}

.nav .nav-header .logo-element {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    line-height: 62px;
    background-color: #005ba6;
}

.header {
    background-color: #f3f3f3;
    height: auto;
    border: none;
}

.header .navbar.navbar-static-top {
  height: 61px;
  line-height: 61px;
    background: -webkit-linear-gradient(left, #1074b4, #2f8dc9); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #1074b4, #2f8dc9); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #1074b4, #2f8dc9); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #1074b4, #2f8dc9); /* 标准的语法 */
   padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.header .navbar.navbar-static-top .navbar-header {
    height: 100%;
    line-height: inherit;
    color: #e0f3ff;
    font-size: 17px;
}

.header .navbar-header .navbar-minimalize.minimalize-my-style {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    height: 100%;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
}

.header .navbar .op-box {
    display: inline-block;
    height: 100%;
    line-height: inherit;
    padding-right: 20px;
    font-size: 14px;
    color: white;
}

.header .navbar .op-box a:link,
.header .navbar .op-box a:visited {
    color: inherit;
}

.header .navbar .op-box a .fa {
    font-size: 16px;
    margin-left: 15px;
}

/*左边导航修改*/
#content-main {
    height: calc(100% - 100px);
}

.nav>li {
    border-bottom: 1px solid #f2f2f2;
}

.nav {
    border-bottom: 1px solid #f2f2f2;
}

.nav.nav-second-level {
    border-bottom: none;
}

.nav>li.active {
    background-color: transparent;
    border-left: none;
    background-color: transparent;
    color: #7986a5;
}

.nav>li.active>a {
    color: inherit;
    font-size: 14px;
    border-bottom: 1px solid #f2f2f2;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.nav>li.active>a .arrow {
  margin-top: 18px;
}

.navbar-default .nav>li>a:focus,
.navbar-default .nav>li>a:hover {
    background-color: transparent;
    color: #1074b4;
}

.nav.nav-second-level {
   margin-top: 10px;
   margin-left: 20px;
   margin-right: 20px;
}

.nav.nav-second-level li {
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    color: #77838d;
    padding-left: 10px;
}

.nav.nav-second-level  li a {
    height: 100%;
    line-height: inherit;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: inherit;
    font-size: inherit;
    display: inline-block;
}

.nav.nav-second-level  li a:visited {
    color: inherit;
}

.nav.nav-second-level  li a:hover,
.nav.nav-second-level  li a:active {
    background-color: #005ba6;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    color: white;
}
