<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>产品详情-产品管理</title>
<link href="${plugins}/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
<link href="${plugins}/hplus/font-awesome.min.css" rel="stylesheet"></link>
<link href="${plugins}/hplus/animate.min.css" rel="stylesheet"></link>
<link href="${plugins}/hplus/hplus.min.css" rel="stylesheet"></link>
<link href="${system_css}/system.css?v=0.1" rel="stylesheet"></link>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                            <li>
                                <a href="${base}/product/list.jsp">产品管理</a>
                            </li>
                            <li class="active">
                                <strong>产品详情</strong>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>产品详情</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>基本信息</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-striped table-bordered table-hover table-details">
                                            <tr>
                                                <th class="col-sm-1">产品编号</th>
                                                <td class="col-sm-3">${(data.code)!?html}</td>
                                                <th class="col-sm-1">产品名称</th>
                                                <td class="col-sm-3">${(data.name)!?html}</td>
                                            </tr>
                                            <tr>
                                                <th>适用人群</th>
                                                <td><@dict_category_value category = "FIT_PEOPLE" value=data.sexRestraint  /></td>
                                                <th>产品状态</th>
                                                <td>
                                                    <#if data.enabled><label class="label label-primary">启用</label><#else><label
                                                        class="label label-warning">停用</label></#if>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>指导价格</th>
                                                <td colspan="3">${(data.guidingPrice)!?html}</td>
                                            </tr>
                                            <tr>
                                                <th>创建人</th>
                                                <td>${(data.creatorName)!?html}</td>
                                                <th>创建时间</th>
                                                <td><#if (data.createTime)??>${data.createTime?string('yyyy-MM-dd HH:mm:ss')}<#else>-</#if></td>
                                            </tr>
                                            <tr>
                                                <th>最近更新人</th>
                                                <td>${(data.updatorName)!'-'?html}</td>
                                                <th>最近更新时间</th>
                                                <td><#if (data.updateTime)??>${data.updateTime?string('yyyy-MM-dd HH:mm:ss')}<#else>-</#if></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>检测项目</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="index">序号</th>
                                                    <th>项目编号</th>
                                                    <th>项目名称</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <#if (data.testingItems)?? && (data.testingItems)?has_content> <#list data.testingItems as record>
                                                <tr>
                                                    <td>${(record_index+1)!?html}</td>
                                                    <td>${(record.code)!?html}</td>
                                                    <td>${(record.name)!?html}</td>
                                                </tr>
                                                </#list> </#if>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover table-details">
                            <tr>
                                <th colspan="2"><div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-success goback" type="button">返回</button>
                                    </div></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="${plugins}/jquery/jquery.min.js"></script>
    <script src="${plugins}/bootstrap/bootstrap.min.js"></script>
    <script src="${plugins}/hplus/content.min.js"></script>
    <script src="${system_js}/system.js?v=0.1"></script>
</body>
</html>
