<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>客户表单-客户管理</title>
<link href="${plugins}/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
<link href="${plugins}/hplus/font-awesome.min.css" rel="stylesheet"></link>
<link href="${plugins}/hplus/animate.min.css" rel="stylesheet"></link>
<link href="${plugins}/hplus/hplus.min.css" rel="stylesheet"></link>
<link href="${plugins}/icheckbox/icheckbox.css" rel="stylesheet"></link>
<link href="${system_css}/system.css" rel="stylesheet"></link>
<link href="${plugins}/datePicker-master/css/datePicker.css" rel="stylesheet">
    <style type="text/css">
        .area-select-group {
            position: relative;
            padding-left: 0;
            padding-right: 34px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .area-select-group .dw {
            position: absolute;
            right: 0px;
            top: 50%;
            height: 34px;
            line-height: 34px;
            margin-top: -17px;
            font-size: 12px;
            padding-right: 10px;
            text-align: center;
        }
    </style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                            <li>
                                <a href="${base}/customer/list.jsp">客户管理</a>
                            </li>
                            <li class="active">
                                <strong><#if data??>修改客户<#else>新增客户</#if></strong>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="ibox ibox-table">
                    <div class="ibox-title">
                        <h5><#if data??>修改客户<#else>新增客户</#if></h5>
                    </div>
                    <div class="ibox-content">
                        <#if data??> <#assign uri = "/customer/modify.jsp" /> <#else> <#assign uri = "/customer/create.jsp" /> </#if>
                        <form class="form-horizontal m-t" action="${base}${uri}" method="post">
                            <input type="hidden" name="id" value="${(data.id)!}" />
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label required-label">客户姓名：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="name" value="${(data.name)!?html}" required data-msg="客户姓名不能为空" />
                                    </div>
                                    <label class="col-sm-2 control-label required-label">客户性别：</label>
                                    <div class="col-sm-3">
                                        <div class="radio-inline i-checks">
                                            <label ><input type="radio" id="sex_1" name="sex" value="1" checked="checked">男</label>
                                            <label style="margin-left: 50px;"><input type="radio" id="sex_2" name="sex" value="2">女</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label required-label">联系电话：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="phone"
                                               value="${(data.phone)!?html}" required
                                               data-msg="联系电话不能为空"/>
                                    </div>
                                    <label class="col-sm-2 control-label">电子邮箱：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="email" value="${(data.email)!?html}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">出生日期：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="birthday" name="birthday"  value="${(data.birthday)!?html}" readonly="readonly" placeholder="年-月-日"/>
                                    </div>
                                    <label class="col-sm-2 control-label">婚姻状况：</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="maritalStatus" data-value="${(data.maritalStatus)!?html}">
                                            <option value="">请选择</option>
                                            <@dict_category category = "MARITAL_STATUS">
                                            <#list entries as entry>
                                                <option value="${(entry.dictValue)!?html}">${(entry.dictText)!?html}</option>
                                            </#list>
                                        </@dict_category>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">民族：</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="nation" data-value="${(data.nation)!?html}">
                                            <option value="">请选择</option>
                                            <@dict_category category = "BASE_NATION">
                                            <#list entries as entry>
                                                <option value="${(entry.dictValue)!?html}">${(entry.dictText)!?html}</option>
                                            </#list>
                                        </@dict_category>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label">工作单位：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="company" value="${(data.company)!?html}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">职业：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="vocation" value="${(data.vocation)!?html}"/>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">所在地市：</label>
                                    <div class="col-sm-8">
                                        <div class="area-select-group col-sm-4">
                                            <select class="form-control" name="province" data-value="${(data.province)!?html}"
                                                    onchange="selectOpt(this)">
                                                <option value="">请选择</option>
                                                <#if list?has_content>
                                                    <#list list as record>
                                                        <option value="${(record.id)!?html}">${(record.name)!?html}</option>
                                                    </#list>
                                                </#if>
                                            </select>
                                            <span class="dw">省</span>
                                        </div>
                                        <div class="area-select-group col-sm-4">
                                            <select class="form-control" name="city" data-value="${(data.city)!?html}" onchange="selectCountyOpt(this)">
                                                <option value="">请选择</option>
                                                <#if province?has_content>
                                                    <#list province as record>
                                                        <option value="${(record.id)!?html}">${(record.name)!?html}</option>
                                                    </#list>
                                                </#if>
                                            </select>
                                            <span class="dw">市</span>
                                        </div>
                                        <div class="area-select-group col-sm-4">
                                            <select class="form-control" name="county" data-value="${(data.county)!?html}">
                                                <option value="">请选择</option>
                                                <#if city?has_content>
                                                    <#list city as record>
                                                        <option value="${(record.id)!?html}">${(record.name)!?html}</option>
                                                    </#list>
                                                </#if>
                                            </select>
                                            <span class="dw">区</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="address" value="${(data.address)!?html}" maxlength='30' placeholder="详细地址"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">备注：</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="5" name="remark" id="area">${(data.remark)!}</textarea>
                                        <p>字数限制：<span id="text-count">200</span>/200</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary" type="submit">保存</button>
                                        <button class="btn btn-primary goback" type="button">返回</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<script src="${plugins}/jquery/jquery.min.js"></script>-->
    <script src="${plugins}/datePicker-master/js/require/jquery.min.js"></script>
    <script src="${plugins}/bootstrap/bootstrap.min.js"></script>
    <script src="${plugins}/icheckbox/icheckbox.min.js"></script>
    <script src="${plugins}/validation/jquery.validate.min.js"></script>
    <script src="${plugins}/validation/additional-methods.min.js"></script>
    <script src="${plugins}/validation/localization/messages_zh.min.js"></script>
    <script src="${system_js}/system.js"></script>
    <script src="${system_js}/myValidate.js"></script>
    <script src="${plugins}/My97DatePicker/WdatePicker.js"></script>
    <script src="${plugins}/datePicker-master/js/require/iscroll.js"></script>
    <script src="${plugins}/datePicker-master/js/datePicker.js"></script>
    <script type="text/javascript">
                <!--
                    $(function()
                    {
                        <#if data??>
                        $('[name="sex"]:radio').iCheck('uncheck');
                        $("#sex_${(data.sex)!'0'}").iCheck('check');
                        </#if>
                        $('form').validate();
                        //出生日期
                        $('#birthday').datePicker({
                            beginyear: 1900,
                            theme: 'date',
                        });

                    });
                //-->
                $('form').validate({
                    submitHandler:function(form){
                            form.submit();
                    },
                    rules: {
                        email:{
                            email:true
                        },
                        name:{
                            seven:true
                        },
                        phone:{
                            required:true,
                            isMobile:true
                        },
                    },
                    messages:{
                        email:{
                            email:"请输入有效的邮箱账号"
                        },
                        phone:{
                            isMobile:"请输入有效的联系电话"
                        },
                        name:{
                            seven:"请输入7位以内的客户姓名"
                        },
                    },
                    errorPlacement: function(error, element) {
                        error.appendTo(element.parent());
                    }

                });
                function selectOpt(obj){
                    $(obj).parent().next().children("select").empty();
                    $(obj).parent().next().children("select").append('<option value="">请选择</option>');
                    $(obj).parent().next().next().children("select").empty();
                    $(obj).next().next().append('<option value="">请选择</option>');
                    var obj_ = $('select[name="city"]');

                    $.ajax({
                        type:'POST',
                        url:'${base}/customer/getAreas?parentId='+$(obj).val(),
                        success:function(data){

                            for(i in data){
                                obj_.append(
                                    '<option value="'+data[i].id+'">'+data[i].name+'</option>'
                                );
                            }
                        }
                    });
                }
                function selectCountyOpt(obj) {
                    $(obj).parent().next().children("select").empty();
                    $(obj).parent().next().children("select").append('<option value="">请选择</option>');
                    var obj_ = $('select[name="county"]');

                    $.ajax({
                        type: 'POST',
                        url: '${base}/customer/getAreas?parentId=' + $(obj).val(),
                        success: function (data) {
                            for (i in data) {
                                obj_.append(
                                    '<option value="' + data[i].id + '">' + data[i].name + '</option>'
                                );
                            }
                        }
                    });
                }

                $("#area").on("input propertychange", function() {
                    var $this = $(this),
                        _val = $this.val(),
                        count = "";
                    if (_val.length > 200) {
                        $this.val(_val.substring(0, 200));
                    }
                    count = 200 - $this.val().length;
                    $("#text-count").text(count);
                });


    </script>
</body>
</html>
