<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>模板维护-报告模板</title>
<link href="${plugins}/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
<link href="${plugins}/hplus/font-awesome.min.css" rel="stylesheet"></link>
<link href="${plugins}/hplus/animate.min.css" rel="stylesheet"></link>
<link href="${plugins}/hplus/hplus.min.css" rel="stylesheet"></link>
<link href="${plugins}/icheckbox/icheckbox.css" rel="stylesheet"></link>
<link href="${plugins}/magicsuggest/magicsuggest-min.css" rel="stylesheet"></link>
<link href="${system_css}/system.css" rel="stylesheet"></link>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                            <li>
                                <a href="${base}/reportTemplate/list.jsp">报告模板</a>
                            </li>
                            <li class="active">
                                <strong><#if data??>修改模板<#else>新增模板</#if></strong>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="ibox ibox-table">
                    <div class="ibox-title">
                        <h5><#if data??>修改模板<#else>新增模板</#if></h5>
                    </div>
                    <div class="ibox-content">
                        <#if data??><#assign uri = "/reportTemplate/modify.jsp" /><#else><#assign uri = "/reportTemplate/create.jsp" /></#if>
                        <form class="form-horizontal m-t" action="${base}${uri}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="${(data.id)!}" />
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label required-label">所属产品：</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" id="product" placeholder="请选择产品" />
                                        <input type="hidden" name="productId" value="${(data.productId)!?html}" required="required"
                                            data-msg="所属产品不能为空" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label required-label">模板名称：</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="name" value="${(data.name)!?html}" required data-msg="模板名称不能为空" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label required-label">模板类型：</label>
                                    <div class="col-sm-10">
                                        <div class="radio-inline i-checks">
                                        <@dict_category category = "TEMPLATE_TYPE">
                                            <#list entries as entry>
                                                <label><input type="radio" id="customized_${(entry_index)!}" name="customized" value="${(entry.dictValue)!html}"
                                                    <#if entry_index == 0>checked="checked"</#if>>${(entry.dictText)!html}</label>
                                            </#list>
                                        </@dict_category>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group agency" style="display: none;">
                                    <label class="col-sm-2 control-label required-label">所属代理：</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" id="agency" placeholder="请选择所属代理"></input>
                                        <input type="hidden" name="agencyId" class="validate-ignore" value="${(data.agencyId)!?html}"
                                            required="required" data-msg="所属代理不能为空" />
                                    </div>
                                </div>
                                <#if data??>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">模板文件：</label>
                                    <div class="col-sm-3">
                                        <input type="file" class="form-control" name="file" data-rule-extension="doc|docx"
                                            data-msg-extension="模板文件仅支持doc和docx格式" />
                                    </div>
                                </div>
                                <#else>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label required-label">模板文件：</label>
                                    <div class="col-sm-3">
                                        <input type="file" class="form-control" name="file" required data-msg-required="模板文件不能为空"
                                            data-rule-extension="doc|docx" data-msg-extension="模板文件仅支持doc和docx格式" />
                                    </div>
                                </div>
                                </#if>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary" type="submit">保存</button>
                                        <button class="btn btn-primary goback" type="button">返回</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="${plugins}/jquery/jquery.min.js"></script>
    <script src="${plugins}/bootstrap/bootstrap.min.js"></script>
    <script src="${plugins}/magicsuggest/magicsuggest-min.js"></script>
    <script src="${plugins}/icheckbox/icheckbox.min.js"></script>
    <script src="${plugins}/validation/jquery.validate.min.js"></script>
    <script src="${plugins}/validation/additional-methods.min.js"></script>
    <script src="${plugins}/validation/localization/messages_zh.min.js"></script>
    <script src="${system_js}/system.js"></script>
    <script src="${system_js}/myValidate.js"></script>
    <script type="text/javascript">
                <!--
                    $(function()
                    {

                        var suggest = function(opts)
                        {
                            var suggestOpts = {
                                width : 190,
                                highlight : true,
                                method : 'get',
                                maxSelection : 1,
                                allowFreeEntries : false,
                                renderer : function(selected)
                                {
                                    return '<div><div><div>' + selected.name
                                            + '</div></div><div style="clear:both;"></div>';
                                }
                            };

                            suggestOpts.value = opts.value;
                            suggestOpts.data = opts.url;
                            suggestOpts.queryParam = opts.keyword;
                            suggestOpts.displayField = opts.field;
                            suggestOpts.renderer = function(selected)
                            {
                                return '<div><div><div>' + selected[opts.field]
                                        + '</div></div><div style="clear:both;"></div>';
                            }

                            var $source = opts.source;
                            var $target = opts.target;
                            var validator = opts.validator;

                            var suggestObject = $source.magicSuggest(suggestOpts);

                            $(suggestObject).on('selectionchange', function(e, selected)
                            {
                                var value = selected.getValue();
                               if("product" == $(selected.container[0]).attr("id"))
                               {
                                   var  sourceSuggest = opts.agencySuggest.source.magicSuggest(opts.agencySuggest)
                                   sourceSuggest.clear();
                                   sourceSuggest.setDataUrlParams({productId:decodeURIComponent(value)})
                               }
                                $target.val(value);
                                validator.element($target);
                            });

                            return suggestObject;
                        }

                        var validator = $('form').validate({
                            'ignore' : '.validate-ignore',
                            rules: {
                                name:{
                                    twenty:true
                                },
                            },
                            messages:{
                                name: {
                                    twenty: "请输入20位以内的模板名称"
                                },
                            },
                            errorPlacement: function(error, element){
                                element.parent().after(error);
                            }
                        });
                        var agencySuggestOpts = {
                            'source' : $('#agency'),
                            'url' : '${base}/agency/json_list.do',
                            'keyword' : 'name',
                            'field' : 'abbr',
                            'target' : $('[name="agencyId"]'),
                            'validator' : validator
                        };

                        var productSuggestOpts = {
                            'source' : $('#product'),
                            'url' : '${base}/product/json_list.do',
                            'keyword' : 'name',
                            'field' : 'name',
                            'target' : $('[name="productId"]'),
                            'validator' : validator,
                            'agencySuggest':agencySuggestOpts
                        };



                        <#if data??>
                        productSuggestOpts.value = ['${(data.productId)!?html}'];
                        <#if data.agencyId?? && data.agencyId != ''>
                        agencySuggestOpts.value = ['${(data.agencyId)!?html}'];
                        </#if>
                        </#if>

                        suggest(productSuggestOpts);
                        suggest(agencySuggestOpts);

                        var setCustomizedFieldsVisible = function(customized)
                        {
                            if ('1' == customized)
                            {
                                $('.agency').show();
                                $('[name="agencyId"]').removeClass('validate-ignore');
                            }
                            else
                            {
                                $('.agency').hide();
                                $('[name="agencyId"]').addClass('validate-ignore');
                            }
                        };

                        $('[name="customized"]').on("ifChecked", function()
                        {
                            setCustomizedFieldsVisible($(this).val());
                        });

                        <#if data??>
                        $('[name="customized"]').iCheck('uncheck');
                        $("#customized_${(data.customized)?string('1', '0')}").iCheck('check');
                        </#if>
                    });
                //-->
                </script>
</body>
</html>
