<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>角色管理</title>
    <link href="${plugins}/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/font-awesome.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/animate.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/hplus.min.css" rel="stylesheet"></link>
    <link href="${system_css}/system.css?v=0.1" rel="stylesheet"></link>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <ol class="breadcrumb">
                        <li>
                            <a href="${base}/locus/list.jsp">角色管理</a>
                        </li>
                        <li class="active">
                            <strong>角色管理</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="ibox ibox-table">
                <div class="ibox-title">
                    <h5>角色列表</h5>
                    <@security_resource resource = "/role/create.jsp">
                    <a href="${base}/role/create.jsp" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i> 新增
                    </a>
                    </@security_resource>
            </div>
            <div class="ibox-content">
                <form action="${base}/role/list.jsp" method="post" class="search-form">
                    <div class="col-sm-2 form-group">
                        <input type="text" class="form-control" name="name" value="${(searcher.name)!?html}"
                               placeholder="角色名称">
                    </div>
                    <div class="col-sm-2 form-group">
                        <button type="submit" class="btn btn-sm btn-success">
                            <i class="fa fa-search"></i> 查询
                        </button>
                        <button type="reset" class="btn btn-sm btn-success">
                            <i class="fa fa-repeat"></i> 重置
                        </button>
                    </div>
                </form>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="index">序号</th>
                        <th>角色名称</th>
                        <th>创建时间</th>
                        <th>创建人</th>
                        <th class="flexible-btns">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <#if pagination.records?has_content>
                        <#list pagination.records as record>
                            <tr>
                                <td>${record_index + 1}</td>
                                <td>${(record.name)!?html}</td>
                                <td>
                                    <#if record.createTime??>${record.createTime!?string('yyyy-MM-dd')}</#if>
                                </td>
                                <td>${(record.creatorName)!?html}</td>
                                <td class="flexible-btns" style="white-space:nowrap">
                                    <@security_resource resource = "/role/modify.jsp">
                                    <a href="${base}/role/modify.jsp?id=${(record.id)!?html}"
                                       class="btn btn-sm btn-success">
                                        <i class="fa fa-edit"></i> 维护
                                    </a>
                                </@security_resource>
                                <@security_resource resource = "/role/delete.jsp">
                                <a class="btn btn-sm btn-success " onclick="canDelete('${record.id}')"
                                   href="javaScript:;">
                                    <i class="fa fa-trash"></i> 删除
                                </a>
                            </@security_resource>
                            <@security_resource resource = "/role/addUser_form.jsp">
                            <a href="javascript:;" class="btn btn-sm btn-success" data-toggle="modal"
                               data-target="#myModal" onclick="showUser('${(record.id)!?html}')">
                                <i class="fa fa-search-plus"></i> 添加用户
                            </a>
                        </@security_resource>
                        </td>
                        </tr>
                        </#list>
                        <#else>
                            <tr>
                                <td colspan="11">暂无相关记录</td>
                            </tr>
                    </#if>
                    </tbody>
                </table>
                <#include "../inc/pagination.html" />
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 100%; height: 100%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title" id="myModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">
                <iframe id='show_model' src=""
                        style="border: 0; width: 100%; height: 700px;"></iframe>
            </div>
        </div>
    </div>
</div>
<script src="${plugins}/jquery/jquery.min.js"></script>
<script src="${plugins}/bootstrap/bootstrap.min.js"></script>
<script src="${plugins}/layer/layer.min.js"></script>
<script src="${plugins}/pagination/jquery.pagination.js"></script>
<script src="${system_js}/system.js"></script>
<script>
    function redirectBack()
    {
        window.location.href = "${base}/role/reload.do";
    }
    function redirectList()
    {
        window.location.href = "${base}/role/list.jsp";
    }
    function showUser(data) {
        $('#show_model').attr('src', '${base}/role/addUser_form.jsp?roleId=' + data);
    }
    function canDelete(id) {
        layer.confirm('确定要删除该角色么？', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.post('${base}/role/delete.jsp', {
                id: id
            }, function (flag) {
                if (flag) {
                    window.location.href = '${base}/role/reload.do';
                } else {
                    layer.alert("该角色已绑定已有用户", {
                        title: "提示"
                    });
                }
            });
        }, function () {
            layer.close();
        });
    }
</script>
</body>
</html>