<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>扫码收样</title>
    <link href="${plugins}/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/font-awesome.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/animate.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/hplus.min.css" rel="stylesheet"></link>
    <link href="${system_css}/system.css?v=0.1" rel="stylesheet"></link>
</head>
<body class="gray-bg">
<table class="table table-striped table-bordered table-hover" id="Table1">
    <thead>
    <tr>
        <th>订单编号</th>
        <th>产品名称</th>
        <th>客户姓名</th>
        <th>代理商</th>
        <th>订单价格</th>
    </tr>
    </thead>
    <tbody>
    <#if list?has_content> <#list list as record>
        <tr>
            <td>${(record.orderId)!?html}</td>
            <td>${(record.productName)!?html}</td>
            <td>${(record.customerName)!?html}</td>
            <td>${(record.agencyName)!?html}</td>
            <td>${(record.actualPrice)!?html}</td>
        </tr>
    </#list>
    </#if>
    </tbody>
</table>

<script src="${plugins}/jquery/jquery.min.js"></script>
<script src="${plugins}/bootstrap/bootstrap.min.js"></script>
<script src="${plugins}/pagination/jquery.pagination.js"></script>
<script src="${system_js}/system.js"></script>



</body>
</html>