<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>订单列表-订单管理</title>
    <link href="${plugins}/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/font-awesome.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/animate.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/hplus.min.css" rel="stylesheet"></link>
    <link href="${system_css}/system.css?v=0.1" rel="stylesheet"></link>
    <link href="${plugins}/fileinput/fileinput.min.css" rel="stylesheet"></link>
    <link href="${system_css}/magicsuggest-min.css" rel="stylesheet"></link>
    <style>
        #jcxmBox td {
            text-align: left;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <ol class="breadcrumb">
                        <li>
                            <a href="${base}/order/list.jsp">订单管理</a>
                        </li>
                        <li class="active">
                            <strong>订单列表</strong>
                        </li>
                        <a title="样本录入的原则是先录客户档案，再录检测订单，现在我们操作第二步——订单管理。
一、订单管理里，点击右上角【新建订单】按钮，完善客户检测信息。*表示必填字段（此处均是必填字段）
必填字段：客户、条码编号、纸质报告是否需要、样本类型和检测套餐（项目）。
	客    户——倒三角下拉选择；
	条码编号——1套采样盒共有4个条码编号，且一致。
	检测套餐下拉筛选后，主账号可以看到检测项目明细、结算价格和当前余额，而开设的子账号根据权限会隐藏部分字段。
	如果客户同一份样本检测不同项目，录入的订单条码编号命名方式为原始编号+字母。例样本编号2018030101，需要检测儿童18项、安全用药和慢病14项，共3项检测，订单2018030101检测儿童18项，订单2018030101A检测安全用药项目，订单2018030101B检测慢病14项，以此类推。
注：检测项目仅限2018年价格表展示的项目，如要检测价格表之外的项目，须提前与华生工作人员联系，以防出现送样之后不能检测的问题。
" style="color:darksalmon;float: right;">
                            <strong> 操作指导(鼠标悬浮此处进行查看)</strong>
                        </a>
                    </ol>
                </div>
            </div>
            <div class="ibox ibox-table">
                <div class="ibox-title">
                    <h5>订单列表</h5>
                    <@security_resource resource = "/order/create.jsp">
                    <a href="${base}/order/create.jsp" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i> 新建订单
                    </a>
                    </@security_resource>
                    <@security_resource resource = "/order/cancel.jsp">
                    <a href="javaScript:;" class="btn btn-sm btn-success btn-cancel">
                        <i class="fa fa-toggle-on"></i> 批量取消
                    </a>
                    </@security_resource>
                    <@security_resource resource = "/order/upload.jsp">
                    <a href="javaScript:;" class="btn btn-sm btn-success" data-toggle="modal"
                       data-target="#uploadModel">
                        <i class="fa fa-arrow-right"></i> 批量导入
                    </a>
                    </@security_resource>
                    <@security_resource resource = "/order/downloadReports.jsp">
                    <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-level-down"></i> 订单导出
                    </a>
                    </@security_resource>
                </div>
                <div class="ibox-content">
                    <form action="${base}/order/list.jsp" method="post" name="searcher_form" class="search-form">
                        <div class="row m-b-xs">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="orderCode"
                                           value="${(searcher.orderCode)!?html}" placeholder="订单编号">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="customerName"
                                           value="${(searcher.customerName)!?html}" placeholder="客户姓名">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="createName"
                                           value="${(searcher.createName)!?html}" placeholder="创建人">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="" id="jcxmBox">
                                    <div class="input-append input-group"
                                         style="white-space: nowrap; vertical-align: middle;">
                                        <input type="text" class="form-control" id="pn"
                                               name='productName' placeholder="检测项目"
                                               value="${searcher.productName!?html}">
                                        <div class="btn-group"
                                             style="display: inline-block; margin-left: -1px; vertical-align: middle;">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>

                                        </div>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">

                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <select class="form-control" name="status" data-value="${(searcher.status)!?html}">
                                        <option value="">订单状态</option>
                                        <@dict_category category = "ORDER_STATUS">
                                        <#list entries as entry>
                                            <option value="${(entry.dictValue)!?html}">${(entry.dictText)!?html}
                                            </option>
                                        </#list>
                                    </@dict_category>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-sm btn-success">
                                        <i class="fa fa-search"></i> 查询
                                    </button>
                                    <button type="reset" class="btn btn-sm btn-success">
                                        <i class="fa fa-repeat"></i> 重置
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="text" class="Wdate form-control" id="startTime" name="startTime"
                                           style="height: 35px"
                                           value="<#if searcher.startTime??>${searcher.startTime!?string('yyyy-MM-dd')}</#if>"
                                           placeholder="开始日期"
                                           onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})"/>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="text" class="Wdate form-control" id="endTime" name="endTime"
                                           style="height: 35px"
                                           value="<#if searcher.endTime??>${searcher.endTime!?string('yyyy-MM-dd')}</#if>"
                                           placeholder="结束日期"
                                           onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})"/>
                                </div>
                            </div>
                        </div>
                    </form>

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th><input type="checkbox" class="check-controller"/></th>
                            <th class="index">序号</th>
                            <th>订单编号</th>
                            <th>产品名称</th>
                            <th>客户姓名</th>
                            <@security_resource resource = "/money/show">
                            <th class="price">订单价格</th>
                        </@security_resource>
                            <th>创建人</th>
                            <th>创建时间</th>
                            <th>提交时间</th>
                            <th>订单状态</th>
                            <th class="flexible-btns flexible-btns-4">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <#if pagination.records?has_content>
                            <#list pagination.records as record>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="check-instance" value="${record.id}"/>
                                    </td>
                                    <td>${record_index + 1}</td>
                                    <td>${record.code!?html}</td>
                                    <td>${(record.product.name)!?html}</td>
                                    <td>${(record.customer.name)!?html}</td>
                                    <@security_resource resource = "/money/show">
                                    <td>${record.actualPrice!?html}</td>
                                </@security_resource>
                                    <td>${record.creatorName!?html}</td>
                                    <td>
                                        <#if record.createTime??>${record.createTime!?string('yyyy-MM-dd HH:mm:ss')}
                                        </#if>
                                    </td>
                                    <td>
                                        <#if record.submitTime??>${record.submitTime!?string('yyyy-MM-dd HH:mm:ss')}
                                        </#if>
                                    </td>
                                    <td status="${(record.status)!?html}">
                                        <@dict_category_value category="ORDER_STATUS" value=record.status/>
                                    </td>
                                    <td class="flexible-btns flexible-btns-4" style="white-space:nowrap">
                                        <a href="${base}/order/display.jsp?id=${record.id}"
                                           class="btn btn-sm btn-primary">
                                            <i class="fa fa-search-plus"></i> 详情
                                        </a>
                                        <@security_resource resource = "/order/modify.jsp">
                                        <#if (record.status)?number lt 2>
                                        <a class="btn btn-sm btn-primary "
                                           href="${base}/order/create.jsp?id=${record.id}">
                                            <i class="fa fa-trash"></i> 修改
                                        </a>
                                        </#if>
                                        </@security_resource>
                                        <@security_resource resource = "/order/place.jsp">
                                        <#if record.status == "0">
                                            <a href="javascript:;"
                                               onclick="palceOrder(this,'${(record.id)!}','${(record.agency.accountAmount)!}','${(record.agency.authorizationAmount)!}','${(record.actualPrice)!}')"
                                               class="btn btn-sm btn-primary">
                                                <i class="fa fa-search-plus"></i> 下单
                                            </a>
                                        </#if>
                                        </@security_resource>
                                        <@security_resource resource = "/order/cancel.jsp">
                                        <#if record.status == "0"||record.status == "1">
                                            <a class="btn btn-sm btn-primary "
                                               href="javascript:cancelConfirm('${(record.id)!?html}')">
                                                <i class="fa fa-trash"></i> 取消
                                            </a>
                                        </#if>
                                        </@security_resource>
                                        <@security_resource resource = "/order/report/download.jsp">
                                        <#if record.status == "5">
                                            <a id="download-pdf" class="btn btn-sm btn-primary btn-report-download" href="${base}/order/report/download.jsp?id=${(record.id)!}&type=pdf">
                                                <i class="fa fa-book"></i> PDF下载
                                            </a>
                                            <a id="download-word" class="btn btn-sm btn-primary btn-report-download" href="${base}/order/report/download.jsp?id=${(record.id)!}&type=word">
                                                <i class="fa fa-book"></i> WORD下载
                                            </a>
                                        </#if>
                                        </@security_resource>
                                    </td>
                                </tr>
                            </#list>
                            <#else>
                                <tr>
                                    <td colspan="10">暂无相关记录</td>
                                </tr>
                        </#if>
                        </tbody>
                    </table>
                    <#include "../inc/pagination.html" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">订单导出</h4>
            </div>
            <form id="uploadForm" action="${base}/order/downloadReports.jsp" enctype="multipart/form-data"
                  name="upload_form">
                <div class="modal-body">
                    <div class="form-group ">
                        <label class="control-label">订单状态：</label>
                        <select class="form-control " name="status">
                            <option value="">请选择</option>
                            <@dict_category category = "ORDER_STATUS">
                            <#list entries as entry>
                                <option value="${(entry.dictValue)!?html}">${(entry.dictText)!?html}</option>
                            </#list>
                        </@dict_category>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">检测产品：</label>
                        <div class="form-control " id="productName" placeholder="请选择检测产品"></div>
                        <input type="hidden" name="productId"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label ">创建时间：</label>
                        <input type="text" class="Wdate form-control" id="startTime1" name="startTime"
                               style="height: 35px" placeholder="开始日期"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime1\')}'})"/>-
                        <input type="text" class="Wdate form-control" id="endTime1" name="endTime"
                               style="height: 35px" placeholder="结束日期"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime1\')}'})"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-4" style="float: right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="subForm">提交</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="uploadModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Excel导入</h4>
            </div>
            <form id="uploadForm1" action="${base}/order/parse.jsp" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <input type="file" class="file clearClass" name="uploadData" id="uploadData" accept=".xlsx,.xls"/>
                    <div class="error" style="color: red;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="subUpload()">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script src="${plugins}/jquery/jquery.min.js"></script>
<script src="${plugins}/jquery/jquery.form.js"></script>
<script src="${plugins}/bootstrap/bootstrap.min.js"></script>
<script src="${system_js}/bootstrap-suggest.js"></script>
<script src="${plugins}/pagination/jquery.pagination.js"></script>
<script src="${system_js}/system.js?v=0.2"></script>
<script src="${plugins}/My97DatePicker/WdatePicker.js"></script>
<script src="${plugins}/fileinput/fileinput.min.js"></script>
<script src="${system_js}/magicsuggest-min.js"></script>
<script src="${plugins}/layer/layer.min.js"></script>
<script src="${system_js}/selectChecked.js"></script>
<script>
    $(function () {


        $("#pn").bsSuggest('init', {
            url: "${base}/product/getSelectList.do?name=",
            getDataMethod: "url",
            keyField: "productName",
            listAlign: 'right',
            effectiveFields: ["productName"],
            effectiveFieldsAlias: {
                name: "产品名称"
            }
        }).on('onDataRequestSuccess', function (e, result) {
        }).on('onSetSelectValue', function (e, keyword, data) {
        }).on('onUnsetSelectValue', function () {
        });

        $('.btn-cancel').click(function (e) {

            var ids = getSelectedIds();
            if (ids != '') {
                e.preventDefault();
                cancelConfirm(ids);
            }
            else {
                layer.alert('选项不符合条件', {
                    title: "提示"
                });
            }
        });
        var p = $('#productName').magicSuggest(
            {
                width: 190,
                highlight: true,
                data: '${base}/product/json_list.do',
                method: 'get',
                queryParam: "name",
                maxSelection: 1,
                displayField: "productName",
                allowFreeEntries: false,
                renderer: function (v) {
                    return '<div>' + '<div >' + '<div  class="probe">'
                        + v.productName + '</div>' + '</div>'
                        + '<div style="clear:both;"></div>';
                }
            });
        var flag = true;
        $("#subForm").click(function () {
            var product = p.getSelection()[0];

            if (undefined != product) {
                $('input[name="productId"]').val(product.productId);
                flag = false;
            }
            $('#uploadForm').submit();
            $('#myModal').modal("hide");
        });

        $('#myModal').on('hide.bs.modal', function () {
            if(undefined == p.getSelection()[0]){
                $('input[name="productId"]').val("");
            }
        })

        $('#uploadModel').on('hide.bs.modal', function () {
            $('.error').html("");
        })

    })


    function palceOrder(obj, id, agencyAmount, authorizationAmount, productPrice) {
        if ((parseFloat(agencyAmount) + parseFloat(authorizationAmount)) - parseFloat(productPrice) >= 0) {
            $(obj).attr("href", "${base}/order/place.jsp?id=" + id)
        }
        else {
            layer.alert('余额不足，请充值！', {
                title: "提示"
            });
        }
    }

    function subUpload() {
        var excelFileName = $('#uploadData').val();
        var formatStr = '';
        var index = excelFileName.lastIndexOf('.');
        if (excelFileName.length == 0) {
            parent.layer.alert('请选择需要上传的文件', {title: "提示"});
            return;
        } else if (index > 0) {

            formatStr = excelFileName.substring(index);
            if (!(".xlsx" == formatStr || ".xls" == formatStr)) {

                parent.layer.alert('请上传excel文件', {title: "提示"});
                return;
            }
        }
        $("#uploadForm1").submit();
    }

    function getSelectedIds() {
        var ids = "";
        $(".check-instance:checkbox").each(function (i, v) {
            if ($(this).prop("checked")) {
                var status = $(this).parents("tr").find("td").eq(9).attr("status");
                if(1 == status || 0 == status)
                {
                    ids += $(this).val() + "-"
                }
            }
        });
        return ids;
    }

    function cancelConfirm(orderId) {
        layer.confirm("确定要取消订单么？", {
            icon: 3,
            title: '操作确认',
            btn: ['确定', '取消'],
            shade: 'transparent'
        }, function (index) {
            cancelOrder(orderId);
            layer.close(index);
        }, function (index) {
            layer.close(index);
        });
    }

    function cancelOrder(orderId) {
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                url: '${base}/order/cancel.jsp',
                data: {
                    id: orderId,
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function () {
                    layer.alert('操作失败', {title: "提示"});
                }
            });

    }
</script>
</body>
</html>
