<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.ghealth.mybatis.mapper.AgencyProductMapper">

    <resultMap id="AgencyProductEntity" type="com.todaysoft.ghealth.mybatis.model.AgencyProduct">
        <id column="ID" property="id" />
        <result column="AGENCY_ID" property="agency.id" />
        <result column="AGENCY_CODE" property="agency.code" />
        <result column="AGENCY_ABBR" property="agency.abbr" />
        <result column="AGENCY_NAME" property="agency.name" />
        <result column="PRODUCT_ID" property="product.id" />
        <result column="PRODUCT_CODE" property="product.code" />
        <result column="PRODUCT_NAME" property="product.name" />
        <result column="PRODUCT_ENABLED" property="product.enabled" />
        <result column="GUIDING_PRICE" property="product.guidingPrice" />
        <result column="AGENCY_PRICE" property="agencyPrice" />
        <result column="DISCOUNT_PRICE" property="discountPrice" />
        <result column="START_TIME" property="startTime" />
        <result column="END_TIME" property="endTime" />
        <result column="DISCOUNT" property="discount" />
        <result column="PRODUCT_SEX_RESTRAINT" property="product.sexRestraint" />
        <result column="PRODUCT_CREATE_TIME" property="product.createTime" />
        <result column="PRODUCT_CREATOR_NAME" property="product.creatorName" />
        <result column="PRODUCT_UPDATE_TIME" property="product.updateTime" />
        <result column="PRODUCT_UPDATOR_NAME" property="product.updatorName" />
        <result column="AGENCY_ACCOUNT_AMOUNT" property="agency.accountAmount" />
        <result column="AGENCY_AUTHORIZATION_AMOUNT" property="agency.authorizationAmount" />
    </resultMap>

    <sql id="SelectAsEntity">
        SELECT
        ap.ID AS ID,
        ap.AGENCY_ID AS AGENCY_ID,
        a.CODE AS AGENCY_CODE,
        a.ABBR AS AGENCY_ABBR,
        a.name AS AGENCY_NAME,
        ap.PRODUCT_ID AS PRODUCT_ID,
        p.CODE AS
        PRODUCT_CODE,
        p.NAME AS PRODUCT_NAME,
        p.ENABLED AS PRODUCT_ENABLED,
        p.GUIDING_PRICE AS GUIDING_PRICE,
        ap.AGENCY_PRICE AS AGENCY_PRICE,
        ap.DISCOUNT_PRICE AS DISCOUNT_PRICE,
        ap.START_TIME AS START_TIME,
        ap.END_TIME AS END_TIME,
        ap.DISCOUNT AS DISCOUNT,
        p.SEX_RESTRAINT AS PRODUCT_SEX_RESTRAINT,
        p.CREATE_TIME AS PRODUCT_CREATE_TIME,
        p.CREATOR_NAME AS PRODUCT_CREATOR_NAME,
        p.UPDATE_TIME AS PRODUCT_UPDATE_TIME,
        p.UPDATOR_NAME AS PRODUCT_UPDATOR_NAME,
        a.ACCOUNT_AMOUNT AS AGENCY_ACCOUNT_AMOUNT,
        a.PREAUTHORIZED_AMOUNT AS AGENCY_AUTHORIZATION_AMOUNT
        FROM
        GHEALTH_AGENCY_PRODUCT ap
        LEFT JOIN GHEALTH_AGENCY a ON ap.AGENCY_ID = a.ID
        LEFT JOIN GHEALTH_TESTING_PRODUCT p ON ap.PRODUCT_ID = p.ID
    </sql>

    <sql id="SearchLimit">
        <if test="_parameter.offset != null and _parameter.limit != null">
            LIMIT #{_parameter.offset}, #{_parameter.limit}
        </if>
    </sql>

    <sql id="SearchFilters">
        WHERE a.DELETED = 0 AND p.DELETED = 0
        <if test="_parameter.agencyId != null and _parameter.agencyId != ''">
            AND a.ID = #{agencyId}
        </if>
        <if test="_parameter.productCode != null and _parameter.productCode != ''">
            <bind name="productCodePattern" value="'%'+ _parameter.productCode + '%'" />
            AND p.CODE LIKE #{productCodePattern}
        </if>
        <if test="_parameter.productName != null and _parameter.productName != ''">
            <bind name="productNamePattern" value="'%' + _parameter.productName + '%'" />
            AND p.NAME LIKE #{productNamePattern}
        </if>
        <if test="_parameter.productId != null and _parameter.productId != ''">
            AND p.id = #{productId}
        </if>
    </sql>

    <select id="count" resultType="int" parameterType="com.todaysoft.ghealth.mybatis.searcher.AgencyProductSearcher">
        SELECT COUNT(*) FROM
        GHEALTH_AGENCY_PRODUCT ap
        LEFT JOIN GHEALTH_AGENCY a ON ap.AGENCY_ID = a.ID
        LEFT JOIN GHEALTH_TESTING_PRODUCT p ON
        ap.PRODUCT_ID = p.ID
        <include refid="SearchFilters"></include>
    </select>

    <select id="search" resultMap="AgencyProductEntity" parameterType="com.todaysoft.ghealth.mybatis.searcher.AgencyProductSearcher">
        <include refid="SelectAsEntity"></include>
        <include refid="SearchFilters"></include> ORDER BY p.CREATE_TIME DESC
        <include refid="SearchLimit"></include>
    </select>

    <select id="get" resultMap="AgencyProductEntity" parameterType="java.lang.String">
        <include refid="SelectAsEntity"></include>
        WHERE ap.ID = #{id}
    </select>

    <select id="getIdByCode" resultType="String" parameterType="java.lang.String">
      select
      PRODUCT_ID
      FROM
      GHEALTH_AGENCY_PRODUCT ap
      LEFT JOIN ghealth_testing_product p
      ON ap.PRODUCT_ID = p.id
      WHERE p.code = #{code}
      AND ap.AGENCY_ID = #{agencyId}
    </select>

    <insert id="create" parameterType="com.todaysoft.ghealth.mybatis.model.AgencyProduct">

        insert into ghealth_agency_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="agency.id != null">
                AGENCY_ID,
            </if>
            <if test="product.id != null">
                PRODUCT_ID,
            </if>
            <if test="agencyPrice != null">
                AGENCY_PRICE,
            </if>
            <if test="startTime != null">
                START_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
            <if test="discountPrice != null">
                DISCOUNT_PRICE,
            </if>
            <if test="discount != null">
                DISCOUNT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="agency.id != null">
                #{agency.id,jdbcType=VARCHAR},
            </if>
            <if test="product.id != null">
                #{product.id,jdbcType=VARCHAR},
            </if>
            <if test="agencyPrice != null">
                #{agencyPrice,jdbcType=BIGINT},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TINYINT},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TINYINT},
            </if>
            <if test="discountPrice != null">
                #{discountPrice,jdbcType=TINYINT},
            </if>
            <if test="discount != null">
                #{discount,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="com.todaysoft.ghealth.mybatis.searcher.AgencyProductSearcher" >
        DELETE FROM ghealth_agency_product
        WHERE AGENCY_ID = #{agencyId,jdbcType=VARCHAR} AND PRODUCT_ID = #{productId,jdbcType=VARCHAR}
    </delete>


    <select id="getBySearch" resultMap="AgencyProductEntity" parameterType="com.todaysoft.ghealth.mybatis.searcher.AgencyProductSearcher" >
        <include refid="SelectAsEntity"></include>
        WHERE AGENCY_ID = #{agencyId,jdbcType=VARCHAR} AND PRODUCT_ID = #{productId,jdbcType=VARCHAR}
    </select>



    <update id="modify" parameterType="com.todaysoft.ghealth.mybatis.model.AgencyProduct">
        UPDATE ghealth_agency_product
        <set>
            <if test="agencyPrice != null">
                AGENCY_PRICE = #{agencyPrice,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                START_TIME = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="discountPrice != null">
                DISCOUNT_PRICE = #{discountPrice,jdbcType=TIMESTAMP},
            </if>
            <if test="discount != null">
                DISCOUNT = #{discount,jdbcType=BIT},
            </if>
        </set>
        WHERE AGENCY_ID = #{agency.id,jdbcType=VARCHAR} AND
        PRODUCT_ID =#{product.id,jdbcType=VARCHAR}
    </update>


</mapper>