<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.ghealth.mybatis.mapper.AreaMapper">
    <sql id="areaColumns">
        a.ID AS id,
        a.NAME AS name,
        a.PARENT_ID AS prentId,
        a.FULL_NAME AS fullName
    </sql>
    <select id="findProvince" parameterType="com.todaysoft.ghealth.mybatis.model.Area" resultType="com.todaysoft.ghealth.mybatis.model.Area">
        SELECT
        <include refid="areaColumns" />
        FROM GHEALTH_DISTRICT a WHERE a.PARENT_ID IS NULL ;
    </select>

    <select id="findByParentId" parameterType="com.todaysoft.ghealth.mybatis.model.Area" resultType="com.todaysoft.ghealth.mybatis.model.Area">
        SELECT
        <include refid="areaColumns" />
        FROM GHEALTH_DISTRICT a WHERE a.PARENT_ID = #{id}
    </select>

    <select id="get" parameterType="java.lang.String" resultType="com.todaysoft.ghealth.mybatis.model.Area">
        SELECT
        <include refid="areaColumns" />
        FROM GHEALTH_DISTRICT a WHERE a.ID = #{id}
    </select>
</mapper>