<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.ghealth.mybatis.mapper.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.todaysoft.ghealth.mybatis.model.UserRole" >
    <result column="USER_ID" property="user.id" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="role.id" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="user" type="com.todaysoft.ghealth.mybatis.model.User">
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="BIT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List">
    SELECT
    u.*
    FROM ghealth_user_role ur
    LEFT JOIN ghealth_user u ON ur.USER_ID = u.id
  </sql>

  <insert id="insert" parameterType="com.todaysoft.ghealth.mybatis.model.UserRole" >
    insert into ghealth_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user.id != null" >
        USER_ID,
      </if>
      <if test="role.id != null" >
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user.id != null" >
        #{user.id,jdbcType=VARCHAR},
      </if>
      <if test="role.id != null" >
        #{role.id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteUserRoleByRoleId" parameterType="java.lang.String">
    delete from ghealth_user_role
    where ROLE_ID = #{roleId,jdbcType=INTEGER}
  </delete>



  <select id="getUsers" parameterType="com.todaysoft.ghealth.mybatis.searcher.UserRoleSearcher" resultMap="user">
  <include refid="Base_Column_List" />
  <include refid="SearchFilters" />
</select>

  <resultMap id="role" type="com.todaysoft.ghealth.mybatis.model.Role">
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="A_List">
    SELECT
    a.*
    FROM ghealth_user_role ur
    LEFT JOIN ghealth_role a ON ur.ROLE_ID = a.id
  </sql>


  <select id="getRoles" parameterType="com.todaysoft.ghealth.mybatis.searcher.UserRoleSearcher" resultMap="role">
    <include refid="A_List" />
    <include refid="SearchFilters" />
  </select>




  <sql id="SearchFilters">
    WHERE 1 = 1
    <if test="_parameter.roleId != null and _parameter.roleId != ''">
      AND ur.ROLE_ID = #{roleId}
    </if>
    <if test="_parameter.userId != null and _parameter.userId != ''">
      AND ur.USER_ID = #{userId}
    </if>
  </sql>


  <select id="countByRoleId" resultType="int" >
    SELECT COUNT(*) FROM GHEALTH_USER_ROLE t
    WHERE t.ROLE_ID =#{id}
  </select>
</mapper>