<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>客户表单-客户管理</title>
    <link href="${plugins}/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/font-awesome.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/animate.min.css" rel="stylesheet"></link>
    <link href="${plugins}/hplus/hplus.min.css" rel="stylesheet"></link>
    <link href="${plugins}/icheckbox/icheckbox.css" rel="stylesheet"></link>
    <link href="${system_css}/system.css" rel="stylesheet"></link>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <ol class="breadcrumb">
                        <li>
                            <a href="${base}/gene/list.jsp">基因档案</a>
                        </li>
                        <li class="active">
                            <strong>新增档案</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="ibox ibox-table">
                <div class="ibox-title">
                    <h5>新增档案</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" action="${base}/gene/create.jsp" method="post">
                        <input type="hidden" name="id" value="${(data.id)!}" />
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label required-label">基因简称：</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="symbol"  required
                                           data-msg="基因简称不能为空"
                                           data-rule-remote="${base}/gene/symbol_unique.do?id=${(data.id)!?html}"
                                           data-msg-remote="基因简称已存在，请重新输入"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label required-label">基因全称：</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="name" maxlength="255" required
                                           data-msg="基因全称不能为空"
                                           data-rule-remote="${base}/gene/name_unique.do?id=${(data.id)!?html}"
                                           data-msg-remote="基因全称已存在，请重新输入"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label ">描述：</label>
                                <div class="col-sm-3"><textarea class="form-control" rows="5" name="description" id="area"></textarea>
                                    <p>字数限制：<span id="text-count">200</span>/200</p>
                                </div>
                            </div>


                            <div class="ibox-title">
                                <a onclick="addMain(this)"
                                   style="position: relative; bottom: 11px"
                                   class="btn btn-sm btn-success"> 新增文献 </a>
                            </div>
                            <div class="ibox-content" id="mainContent">
                               <div class="form-group" >
                                 <label class="col-sm-2 control-label ">文献：</label>
                                 <div class="col-sm-3">
                                     <input type="text" class="form-control" name="geneTitle" maxlength="200" />
                                 </div>
                               </div>
                            </div>



                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class=" btn btn-primary " type="submit">提交</button>
                                    <button class=" btn btn-primary " type="button"
                                            onclick="goBack()">返回</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${plugins}/jquery/jquery.min.js"></script>
<script src="${plugins}/bootstrap/bootstrap.min.js"></script>
<script src="${plugins}/icheckbox/icheckbox.min.js"></script>
<script src="${plugins}/validation/jquery.validate.min.js"></script>
<script src="${plugins}/validation/additional-methods.min.js"></script>
<script src="${plugins}/validation/localization/messages_zh.min.js"></script>
<script src="${system_js}/system.js"></script>
<script src="${system_js}/myValidate.js"></script>

<script type="text/javascript">
    var system_images = "${system_images}";
    var i = 0;
    function addMain(obj) {
        i = i + 1;
        $(obj)
            .parent()
            .parent()
            .find('#mainContent')
            .append(	'<div><DIV style="BORDER-TOP: #adadad  1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></DIV></div>'
                + '<div style="margin-top:17px" class="mainGroup">'
                + '<img src="'
                + system_images
                + '/rubish.png" style="float: right;cursor: pointer;" onclick="removeMain(this)"/>'
                +

                '<div class="form-group">'
                + '<label class="col-sm-2 control-label ">文献：</label>'
                + '<div class="col-sm-3">'
                + '<input type="text" class="form-control" name="geneTitle" maxlength="200" id="geneTitle'+i+'" /></div></div>'
                + '</div>'

               );
    }

    function removeMain(obj) {
            $(obj).parent().remove();
    }
    function goBack() {
        window.history.back(-1);
    }
    $(function()
    {

        $('form').validate({
            rules: {
                symbol:{
                    twenty:true
                },
            },
            messages:{
                symbol:{
                    twenty:"请输入20位以内的基因简称"
                },

            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parent());
            }
        });

        $("#area").on("input propertychange", function() {
            var $this = $(this),
                _val = $this.val(),
                count = "";
            if (_val.length > 200) {
                $this.val(_val.substring(0, 200));
            }
            count = 200 - $this.val().length;
            $("#text-count").text(count);
        });
    });

</script>
</body>
</html>