<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.ghealth.open.api.mybatis.mapper.CredentialsMapper">

    <resultMap id="CredentialsEntity" type="com.todaysoft.ghealth.open.api.mybatis.model.Credentials">
        <result column="ACCESS_KEY" property="key" />
        <result column="ACCESS_SECRET" property="secret" />
        <result column="AGENCY_ID" property="agencyId" />
        <result column="ENABLED" property="enabled" />
    </resultMap>

    <select id="getCredentials" resultMap="CredentialsEntity" parameterType="java.lang.String">
        SELECT * FROM GHEALTH_OPEN_API_CREDENTIALS t WHERE t.DELETED = 0 AND t.ACCESS_KEY = #{key}
    </select>
</mapper>